<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newagriapp">

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/agri1"
        android:label="AgriApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Mydb"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".Content_for_db"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Store"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Email"
            android:parentActivityName=".explore" />
        <activity
            android:name=".Draweroptions"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Agridom"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Main2Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".lists"
            android:parentActivityName=".explore" />
        <activity
            android:name=".plants"
            android:parentActivityName=".explore" />
        <activity
            android:name=".chemicals"
            android:parentActivityName=".explore" />
        <activity
            android:name=".explore"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>