<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newagriapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="AgriApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".Agridom"></activity>
        <activity android:name=".Main2Activity" />
        <activity android:name=".lists" />
        <activity android:name=".plants" />
        <activity android:name=".chemicals" />
        <activity android:name=".explore" />
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>